  <div class="container">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error.status }} - {{error.error.message}}</p>
  </div>
  <div *ngIf="isloading" style="text-align: center;" class="loading-text">
    <app-spinner></app-spinner>
  </div>
    <div class="row">

      

      <div class="col-md-3 col-xs-12" *ngIf="isAuth && url =='myposts' ">
        <div class="list-group">
          <a [routerLink]="['../edit',postId]" class="list-group-item list-group-item-action list-group-item-primary">
             Edit Post
          </a>
          <a data-toggle="modal" data-target="#exampleModal" class="list-group-item list-group-item-action list-group-item-danger">Delete Post</a>

        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation Box</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Please click on Ok button to Delete the post permanently
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="OnDelete(postId)">Confirm</button>
              </div>
            </div>
          </div>
        </div>


      </div>

      <div class="col-md-9 main" *ngIf="post">
        <div class="card-body">
          <h1>{{post.title}}</h1>
          <div class="text-white mb-3">
            <span class="text-black-opacity-05" >
              <small *ngIf="profile">
                <a [routerLink]="['../public', profile.username]">by {{profile.username}}</a>
                
                <span class="sep"> /
                </span>{{post.postDate | date:'short'}}</small>
            </span>
          </div>

          <div class="img">
            <img src={{post.imagePath}} alt="" class="img-responsive center">
          </div>
          <hr>

          <p>{{post.content}}</p>
        </div>

      </div>
    </div>

  </div>